<a href="https://colab.research.google.com/github/vamsi2805/Assignment-10/blob/master/Assignment_10_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. write a program to get the largest and smallest number from a list.

In [1]:
list = [1,4,58,45,64]
print("given list is:",list)
print("Largest number in list is",max(list))
print("Smallest number in list:",min(list))

given list is: [1, 4, 58, 45, 64]
Largest number in list is 64
Smallest number in list: 1

2.write a program to remove duplicate elements from a list.

In [2]:
list = [21,44,44,66,31,31,31,82,77,77,0,11]
newlist = []

for item in list:
    if item not in newlist:
        newlist.append(item)
print("New list:",newlist)

New list: [21, 44, 66, 31, 82, 77, 0, 11]

3.write a program to check if the list is empty or not.

In [3]:
mylist = [1,4,58,45,64]
list1 = []
if mylist == []:
    print("True")
else:
    print("False")
    
if list1 != []:
    print("False")
else:
    print("True")

False
True

4.Write a program to clone or copy a list.

In [4]:
list = [1,4,58,45,64]
print("Original list:",list)
newlist = list.copy()
print("Copied list:",newlist)

Original list: [1, 4, 58, 45, 64]
Copied list: [1, 4, 58, 45, 64]

5.Write a program to print a specified list after removing the 0th, 4th and 5th elements.

In [7]:
clglist = ["vamsi","dinesh","raja","hemanth","sandeep"]
clglist.pop(0)
clglist.remove("hemanth")
clglist.remove("sandeep")
print("New list:",clglist)

New list: ['dinesh', 'raja']

6.Write a program to print the numbers of a specified list after removing even numbers from it.

In [10]:
mlist = [1,2,3,4,5,6,7,8,9,10]
for item in mlist:
    if item%2==0:
        mlist.remove(item)
print(mlist)

[1, 3, 5, 7, 9]

7.Write a program to shuffle and print a list.

In [13]:
from random import shuffle
mylist = [2,5,8,4,9,4,5,4,5,4,]
shuffle(mylist)
print("New list:",mylist)

New list: [4, 5, 9, 2, 5, 8, 4, 4, 5, 4]

In [ ]:
8.Writa a program to find the difference between two lists.

In [15]:
l1 = [1,2,3,4,5,6]
l2 = [4,2,6]
l3 = []
for item in l1:
    if item not in l2:
        l3.append(item)
print(l3,"is difference between given lists.")

[1, 3, 5] is difference between given lists.